$mainColor: #ccc5f5;
$focusColor: #827caf;

body {
    margin: 0;
    @media screen and (max-width: 768px) {
        margin: 10px;
    }
}

.header {
    margin: 0 auto;
    max-width: 1300px;
    height: 100px;
    background: $mainColor;
    color: white;
    font: bold 40px/110px 'Bad Script', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 0.5em;
    border: 2px solid $focusColor;
    @media screen and (max-width: 768px) {
        margin: 0;
        max-width: calc(100vw - 20px);
        width: calc(100vw - 20px);
    }
}
.takeInfo {
    margin: 20px auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $focusColor;
    border-radius: 15px;
    box-sizing: border-box;
        &__form {
            display: flex;
            max-width: 1300px;
        }
    @media screen and (max-width: 768px) {
        margin: 10px 0;
        width: calc(100vw - 20px);
        height: 390px;
        display: block;
        &__form {
            display: flex;
            flex-direction: column;
        }
    }
}
.window {
    margin: 30px 10px 10px 10px;
    font: normal 25px/30px 'Bad Script', cursive;
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    &__name {
        margin: 0 30px;
    }
    &__field {
        font: normal 20px/30px 'Bad Script', cursive;
        height: 94px;
        width: 258px;
        resize: none;
        border: 2px solid $mainColor;
        border-radius: 0.5em;
        padding: 10px;
        display: table-cell;
        align-items: flex-start;
        &:focus {
            outline: none !important;
            border:2px solid $focusColor;
            box-shadow: 0 0 5px #719ECE;
        }

        &.warning  {
            &:placeholder-shown {
                outline: none !important;
                border:2px solid #ff8686;
                box-shadow: 0 0 5px #719ECE;
            }
        }
    }
    &__conteiner {
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: 768px) {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__name {
            margin: 10px;
        }
        &__field {
            width: calc(100% - 22px);
        }
        &__conteiner {
            display: block;
        }
    }
}
input.window__field {
    height: 30px;
}



.button {   
    &__item {
        margin: 11px 40px;
        height: 45px;
        width: 200px;
    }
    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        &__item {
            margin: 10px 40px;
        }
    }
}

.list {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px double $focusColor;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    font: normal 25px/30px 'Bad Script', cursive;
    &__case {
        margin: 10px;
        padding: 5px;
        width: 1200px;
        border: 2px dotted $mainColor;
        border-radius: 0.5em;
        display:none;
    }
    @media screen and (max-width: 768px) {
        &__case {
            width: calc(100vw - 60px);
            
            
        }
    }
}
input[type=submit] {
    padding:5px 15px; 
    font: normal 25px/26px 'Bad Script', cursive;
    background: $mainColor;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: 2px solid $focusColor;
}