$mainColor: #ccc5f5;
$focusColor: #a59ed2;

body {
    margin: 0;
}

.header {
    max-width: 1300px;
    margin: 0 auto;
    height: 100px;
    background: $mainColor;
    color: white;
    font: bold 40px/100px 'Bad Script', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 0.5em;
}
.takeInfo {
    margin: 20px auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $mainColor;
    border-radius: 1em;
    box-sizing: border-box;
        &__form {
            display: flex;
            max-width: 1300px;
        }
}
.window {
    margin: 30px 10px;
    font: normal 25px/30px 'Bad Script', cursive;
    /*height: 100px;*/
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    &__name {
        margin: 0 30px;

    }
    &__field {
        font: normal 20px/30px 'Bad Script', cursive;
        height: 94px;
        width: 258px;
        resize: none;
        border: 2px solid $mainColor;
        border-radius: 0.5em;
        padding: 10px;
        display: table-cell;
        align-items: flex-start;
        &:focus {
            outline: none !important;
            border:2px solid $focusColor;
            box-shadow: 0 0 5px #719ECE;
        }

        &.warning  {
            &:placeholder-shown {
                outline: none !important;
            border:2px solid #ff8686;
            box-shadow: 0 0 5px #719ECE;
            }
        }
    }
    &__conteiner {
        display: flex;
        flex-direction: column;
    }
}
input.window__field {
    height: 30px;
}



.button {   
    &__item {
        margin: 4px 40px;
        height: 30px;
        width: 200px;
    }
}

.list {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px double $mainColor;
    border-radius: 1em;
    padding: 10px;
    box-sizing: border-box;
    font: normal 25px/30px 'Bad Script', cursive;
    &__name {

    }
    &__case {
        margin: 10px;
        padding: 5px;
        width: 1200px;
        border: 2px dotted $mainColor;
        border-radius: 0.5em;
        display:none;
    }
}